@import "~cssConfiguration/css-configuration.scss";
.ui-auth-panel {
  .content-panel {
    padding: 100px 20px 150px 20px;;
    height: 500px;
  }
  .center-block {
    text-align: center;
    margin: auto;
  }
  .forgot-password {
    font-weight: bold;
    margin: auto;
    display: inline-block;
    padding-top: 15px;
  }
  .button {
    border-radius: 20px !important;
     button {
       background-color: $main-color !important;
       border-radius: 20px !important;
       margin-right: 30px !important;
     };

  }
  .ui-left-lpanel {
    background-color: $main-color;
    background-image: url($mediaPath + "/images/login/login_left_bg.png");
    background-position: 10px bottom;
    background-repeat: no-repeat;

    .company-short-name {
      color: $login-short-company-color;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 24px;
    }
    .ui-logo-panel {
      margin-bottom: 10px;
    }
  }
}