$color-footer-link: #3da4dc;
$color-footer-link-hover: #65bcec;

.ui-d-recognition-footer {
  padding: 0px 10px 0px 10px;
  position: fixed;
  width: 99%;
  bottom: 10px;
  a.footer-link {

    :hover {
      color: $color-footer-link-hover;
    }

    .icon {
      display: inline-block;
      border-radius: 64%;
      padding: 6px;
      border: 1px solid #3da4dc;
      width: 19px;
      text-align: center;
      margin-right: 10px;
    }

    color: $color-footer-link;
    text-decoration: none;
  }

  .ui-float-left {
    float: left;
  }

  .ui-float-right {
    float: right;
  }

  .ui-clear-both {
    clear: both;
  }
}