$primary-color: #333;
$header-color: #0c8254;
$text-color: #5d723d;
$spelling-color: #3da4dc;

.d-recognition-speaker {

  .ui-content-panel {
    padding: 65px 10px 60px 10px;
    text-align: center;

    .ui-content-center {
      display: inline-block;
      text-align: center;
      position: relative;

      .ui-text-content {
        margin-left: 55px;
        display: inline-block;
        .ui-text {
          text-align: left;
          color: $text-color;
        }

        .ui-spelling {
          color: $spelling-color;
        }

        @media only screen and (min-width: 769px) {
          .ui-text {
            font-size: 22px;
          }

          .ui-spelling {
            font-size: 18px;
          }
        }

        @media only screen and (max-width: 768px) {
          .ui-text {
            font-size: 16px;
          }

          .ui-spelling {
            font-size: 14px;
          }
        }
      }
    }

  }
}